.container {
  width: 1160px;
  height: 1257px;
  border: 2px solid blue;
  display: flex;
  box-sizing: border-box;
}

.sidebar {
  width: 240px;
  height: 911px;
  background-color: #ffcc00;
  border: 1px solid red;
}

.main {
  width: 900px;
  height: 656px;
  /* background-color: #00ccff; */
}

.topbar {
  height: 38px;
  width: 100%;
  border-bottom: 1px solid #fafafa;
  display: flex;
  justify-content: right;
  padding-right: 20px;
}

.topbox {
  padding-top: 8px;

  width: 192px;

  display: flex;
  gap: 18px;
}

.single {
  height: 24px;
  width: 24px;
 
}
.triple {
  display: flex;
  justify-content: space-evenly;
}

.triple div {
  height: 24px;
  width: 24px;

 

  margin-left: 24px;
  /* padding-right: 12px; */

}

.profilesec {
  height: 250px;
  width: 100%;
  padding-top: 30px;

  display: flex;
  /* border:1px solid gray; */
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.profile_picture {
  height: 248px;
  width: 300px;
  position: relative;
}
.officialbadge {
  height: 36px;
  width: 36px;
  top: 10px;
  right: 10px;

  position: absolute;
}

.details {
  width: 619px;
  height: 248px;

}

.namebar {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}

.threeicons{
  margin-top: 5px;
  margin-left: 15px;
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.threeicons>div{
  width: 19px;
  height: 18px;
 
}
.citydetails{
width: 146px;
height: 18px;
margin-top: 6px;
margin-left: 20px;
display: flex;
}

.profession{
  margin-left: 15px;
  margin-top: 20px;
  width: 240px;
  height: 18px;

  display: flex;
justify-content: space-between;
}

.summary{
  margin-top: 10px;
 
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.summary>div{
  margin-left: 15px;
}

.campaignbtn{
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.campaignbtn>div{
  display: flex;
  gap: 10px;
}

.excel{
  margin-right: 30px;
}
.excel2{
  margin-top: -5px;
  margin-right: 30px;
}
.campaignbtn>div{
  border: 1px solid red;
}


.statstab {
  width: 885px;
  height: 141px;
  background-color: #e2edfc;
  border-radius: 10px;
  margin-left: 16px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.statscard3 {
  width: 260px;
  height: 116px;
  border-radius: 10px;
  background-color: white;
}

.statscard {
  width: 277px;
  height: 116px;
  border-radius: 10px;
  background-color: white;
}

.statscardpercent {
  width: 74px;
  height: 15px;
  font-size: 20px;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.total {
  font-size: 12px;
}

.tweetfacebox {
  height: 48px;
  width: 118px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.tweetfacebox > div {
  height: 48px;
  width: 48px;
 
}
.socialiconstab {
  height: 42px;
  /* background-color: cyan  ; */
  margin-top: 10px;
  display: flex;
  justify-content: right;
}

.iconsbox {
  /* border: 1px solid black; */
  width: 186px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.socialogo {
  height: 42px;
  width: 42px;
 
}

.titlestab {
  height: 48px;
  width: 453px;
  /* background-color: saddlebrown; */
  display: flex;
}

.titlestab > div {
  width: 112.33px;
  height: 48px;
  /* border: 1px solid gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.followers_container {
  width: 885px;
  height: 116px;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.insightspercent {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.insightspercent2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-top: 22px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.streamingicons {
  width: 233px;
  height: 16px;
  display: flex;
  margin: 15px auto;
  justify-content: space-between;
}

.logo {
  height: 16px;
  width: 16px;
 

}

.logoname {
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  height: 12px;
}
/* .movetocenter{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.roundedbtn {
  text-align: center;
}
.roundedbtn2 {
  margin-top: 5px;
  text-align: center;
}
.roundedbtn > div {
  padding: 3px 11px;
  border: 1px solid gray;
  border-radius: 10px;
  display: inline-block;
  /* background-color: red; */
  margin-left: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.05em;
  text-align: center;
}

.roundedbtn2 > div {
  padding: 3px 11px;
  border: 1px solid gray;
  border-radius: 10px;
  display: inline-block;
  /* background-color: red; */

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.05em;
  text-align: center;
}

.followers_container > div {
  width: 277px;
  height: 116x;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.posts_container {
  width: 885px;
  height: 185px;
  margin-top: 24px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.posts_container > div {
  width: 277px;
  height: 185px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.audienceheading {
  margin-top: 20px;
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.audiencebox {
  width: 885px;
  height: 185px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.audiencebox > div {
  width: 277px;
  height: 185px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.audiencebox > div:nth-child(2) > div:nth-child(2) {
  margin: auto;
  margin-top: 20px;
}

.bar-graph {
  width: 9.1px;
  height: 90.63px;
  position: relative;
  /* top: 1051px;
  left: 592.73px; */
  border-radius: 100px 100px 0 0;
  background-color: gray;
}

.bar-graph-filled {
  width: 9.1px;
  height: 70.63px;
  position: absolute;
  /* top: 1051px;
  left: 592.73px; */
  border-radius: 100px 100px 0 0;
  background-color: #0074e4;
}

.bargraphbox {
  margin-top: 10px;
  width: 209.2px;
  height: 91.53px;
  border: 1px solid black;
}

.boxheading {
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.boxcontent {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}
